node_modules
notifyapp/node_modules
public
.tmp
.sass-cache
.idea
bower_components
dist
/server/config/local.env.js
/data/**/*.jl
npm-debug.log
/data/phone-aggregation.js
/data/offer-result.js
/data/email-result.js
**/dig-ht.json
app/test/data/*-aggregations.js
app/test/data/*-result.js
app/test/data/*-results.js
*.swp
*.DS_STORE
